@import "../module/common/common";
$color-green:#477c2b;
.pic-body{
  header{
    display:none;
  }
  .content{
    padding:0;
    img{
        width:100%;
    }
  }
}
header{
  @include px-rem('height',292);
  overflow:hidden;
  .banner{
      width:300%;
      position:relative;
      transition:all 1s;
      left:0;
      //@include px-rem('left',-750);
      img{
          @include px-rem('width',750);
          float:left;
          display:block;
      };
  }
}
.pLoan .banner{
    @include px-rem('height',173);
}
.content{

    @include px-d-rem('padding',10,30);
    @include font-rem(16);
    text-align: center;
    h3{
      @include font-rem(30); 
    }
    .time{
      display:inline-block;
      @include px-rem('padding-top',10);
      span{
        @include px-rem('margin-right',100);
      }
    }
    .source{
        text-align: right;
        @include px-d-rem('padding',30,10);
    }
    article{
        user-select:none;   
        @include font-rem(16);
        p{
            @include font-rem(16);
        }
        text-align: left;
        @include px-rem('padding-top',30);
        line-height:1.428;
    }
}
