@import "../module/common/common";

header{
    @include px-rem('line-height',88);
    background: $main-color;
    color:#fff;
    @include font-rem(30);
    text-align: center;
    letter-spacing: 5px;
}
section.content{
    @include px-d-rem('padding',50,30);
    @include px-rem('padding-bottom',100);
    .title{
        color: $main-color;
        @include font-rem(24);
    }
    .spec{
       @include px-d-rem('margin',10,0); 
       @include font-rem(20);
       @include px-rem('min-height',300);
       @include px-rem('line-height',24);
    }
    .info{
        .agree{
            @include px-rem('line-height',30);
            @include font-rem(24);
            @include px-rem('margin-top',20);
            input{
                @include px2rem(30,30);
                @include px-rem('margin-right',10);
            }
            .intro{
                @include px-d-rem('margin',10,30);
                color:$main-color;
            }
        }
    }
}
.wxer{
    text-align: center;
    img{
        width:100%;
        margin-bottom:5%;
    }
    .btn{
        letter-spacing: normal;
    }
}
.buy{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    @include px-rem('line-height',100);
    text-align:center;
    @include font-rem(30);
    .price{
        background: $main-bk-color;   
        width:32%;  
    }
    .order{
        background: $main-color;
        width:30%;
        color:#fff;
        &:first-child{
            padding:0 2%;
            margin-right:5%;
        }
    }
}