@import "../module/common/common";
@import "../module/common/modal";

header{
    @include px-rem('height',400);
    background:url('../../images/centerbk.jpg') center center /100% 100%;
    .hd{
        .set{
            position:absolute;
            @include px-rem('top',40);
            @include px-rem('right',50);
            .iconfont{
                color:#fff;
                @include font-rem(40);
            }
        }
        @include px-rem('padding-top',74);
        .box{
            width:90%;
            margin:0 auto;
            .left{
                width:27%;
                margin-right:3%;
                img{
                    @include px2rem(148,148);
                    border-radius: 50%;
                    border:8px solid #fff;
                }
            }
            .right{
                width:70%;
                color:#fff;
                font-size: 0;
                .name{
                    @include font-rem(24);
                }
                span{
                    display:inline-block;
                    width:50%;
                    @include font-rem(18);
                    @include px-d-rem('margin',8,0);
                    overflow: hidden;
                    word-wrap: normal;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    .bd{
        @include px-rem('padding-top',64);
        .flex{
            li{
                flex:1;
                color:#fff;
                @include font-rem(24);
                text-align: center;
                &:nth-child(1){
                    border-left:1px solid #fff;
                    border-right:1px solid #fff;
                }
                p{
                    //width:80%;
                    margin:4px auto;
                    &.btn{
                        background:#07b777;
                    }
                }
                &:nth-child(2){
                    display:flex;
                    align-items:center;
                    .btn{
                        @include font-rem(30);
                        display: inline-block;
                        //padding: 6px 12px;
                    }
                }
            }
        }
    }
}
.content{
    .m-line{
       background:#f8f8f8;
    }
    .flex{
        flex-wrap: wrap;
        @include px-d-rem('padding',15,25);
        li{
            width:33%;
            text-align:center;
            @include px-d-rem('padding',15,0);
            .bk{
                @include px2rem(120,120);
                border-radius:50%;
                margin:0 auto;
                a{
                    margin:0 auto;
                }
                .iconfont{
                    color:#fff;
                    @include px-rem('line-height',120);
                    @include font-rem(70);
                    
                }
            }
            &:nth-child(1){
                .bk{background:#fa4f47;}
            }
            &:nth-child(2){
                .bk{background:#66c75c;}
            }
            &:nth-child(3){
                .bk{background:#ff5b98;}
            }
            &:nth-child(4){
                .bk{background:#1171bb;}
            }
            &:nth-child(5){
                .bk{background:#fa4f47;}
            }
            &:nth-child(6){
                .bk{background:#b50e99;}
            }
            &:nth-child(7){
                .bk{background:#565db7;}
            }
            &:nth-child(8){
                .bk{background:#66c75c;}
            }
            &:nth-child(9){
                .bk{background:#07b777;}
            }
            &:nth-child(10){
                .bk{background:#1fa2d8;}
            }
            &:nth-child(11){
                .bk{background:#ff5b99;}
            }
            &:nth-child(12){
                .bk{background:#fa4f47;}
            }
            &:nth-child(13){
                .bk{background:#ff5b99;}
            }
            &:nth-child(14){
                .bk{background:#fa4f47;}
            }
            span{
                @include px-d-rem('margin',15,0);
                @include font-rem(20);
                color:#666;
                display:block;
            }
        }
    }
}
.modal{
    .monqrcode{
        .bd{
            img{
                width:80%;
                margin:0 auto;
                display:block;
                @include px-rem('margin-top',10);
            }
            .tips{
                @include px-rem('padding-bottom',15);
                color:$main-color;
            }
            .form-group{
                @include px-rem('padding-bottom',15);
            }
            .pholder{
                float: left;
            }
            .colsm{
                float: left;
                width:50%;
                @include px-rem('margin-left',15);
                input{
                    border:none;
                    width:100%;
                }
            }
            .warning{
                color:#d9534f;
            }
        }
    }
}