@import "../module/common/common";

header{
    @include px-rem('height',400);
    background:url('../../images/centerbk.jpg') center center /100% 100%;
    .hd{
        .set{
            position:absolute;
            @include px-rem('top',40);
            @include px-rem('right',50);
            .iconfont{
                color:#fff;
                @include font-rem(40);
            }
        }
        @include px-rem('padding-top',74);
        .box{
            width:80%;
            margin:0 auto;
            .left{
                width:30%;
                margin-right:5%;
                img{
                    @include px2rem(148,148);
                    border-radius: 50%;
                    border:8px solid #fff;
                }
            }
            .right{
                width:65%;
                color:#fff;
                font-size: 0;
                .name{
                    @include font-rem(24);
                }
                span{
                    display:inline-block;
                    width:50%;
                    @include font-rem(18);
                    @include px-d-rem('margin',8,0);
                    overflow: hidden;
                    word-wrap: normal;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    .bd{
        @include px-rem('padding-top',64);
        .flex{
            li{
                flex:1;
                color:#fff;
                @include font-rem(24);
                text-align: center;
                &:nth-child(2){
                    border-left:1px solid #fff;
                    border-right:1px solid #fff;
                }
                p{
                    width:80%;
                    margin:4px auto;
                }
            }
        }
    }
}
.content{
    .m-line{
       background:#f8f8f8;
    }
    .flex{
        flex-wrap: wrap;
        @include px-d-rem('padding',15,25);
        li{
            width:25%;
            text-align:center;
            @include px-d-rem('padding',15,0);
            .bk{
                @include px2rem(90,90);
                border-radius:50%;
                background:$main-color;
                margin:0 auto;
                
                .iconfont{
                    color:#fff;
                    @include font-rem(40);
                    @include px-rem('line-height',90);


                }
            }
            span{
                @include px-d-rem('margin',15,0);
                @include font-rem(20);
                color:#666;
                display:block;
            }
        }
    }
}