@import "../module/common/common";
@import "../module/common/modal";

header{
    @include px-rem('height',260);
    //background:url('../../images/centerbk.jpg') center center /100% 100%;
    .hd{
        .set{
            position:absolute;
            @include px-rem('top',40);
            @include px-rem('right',50);
            .iconfont{
                color:#000;
                @include font-rem(40);
            }
        }
        @include px-rem('padding-top',74);
        .box{
            width:90%;
            margin:0 auto;
            .left{
                width:27%;
                margin-right:3%;
                img{
                    @include px2rem(148,148);
                    border-radius: 50%;
                    border:8px solid #fff;
                }
            }
            .right{
                width:70%;
                color:#000;
                font-size: 0;
                .name{
                    @include font-rem(24);
                }
                span{
                    display:inline-block;
                    width:50%;
                    @include font-rem(18);
                    @include px-d-rem('margin',8,0);
                    overflow: hidden;
                    word-wrap: normal;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}
.content{
    .m-line{
       background:#f8f8f8;
    }
    .flex{
        flex-wrap: wrap;
        //@include px-d-rem('padding',15,25);
        li{
            a{
                display:block;
                width:100%;
                height:100%;
            }
            width:50%;
            box-sizing: border-box;
            text-align:center;
            border:1px solid #ccc;
            color:#fff;
            &.bd{
                color:#000;
                @include font-rem(24);
                text-align: center;
                &:nth-child(1){
                    border-left:1px solid #fff;
                    border-right:1px solid #fff;
                }
                p{
                    //width:80%;
                    margin:4px auto;
                    &.btn{
                        background:#07b777;
                    }
                }
                &:nth-child(2){
                    display:flex;
                    align-items:center;
                    .btn{
                        @include font-rem(30);
                        display: inline-block;
                        //padding: 6px 12px;
                    }
                }
            }
            &:nth-child(2n+1){
                border-right:1px solid #ccc;
            }
            // &:nth-child(7),&:nth-child(8){
            //     border-bottom:none;
            // }
            @include px-d-rem('padding',15,0);
            .iconfont{
                    color:#fff;
                    //@include px-rem('line-height',120);
                    @include font-rem(70);
                }
            &:nth-child(3){
                background:#e05750;
            }
            &:nth-child(4){
                background:#66c75c;
            }
            &:nth-child(5){
                background:#ff5b98;
            }
            &:nth-child(6){
                background:#1171bb;
            }
            &:nth-child(7){
                background:#cab447;
            }
            &:nth-child(8){
                background:#43c2c3;
            }
            span{
                @include px-rem('margin-bottom',15);
                @include font-rem(30);
                color:#fff;
                display:block;
            }
        }
    }
}
.modal{
    .monqrcode{
        .bd{
            img{
                width:80%;
                margin:0 auto;
                display:block;
                @include px-rem('margin-top',10);
            }
            .tips{
                @include px-rem('padding-bottom',15);
                color:$main-color;
            }
            .form-group{
                @include px-rem('padding-bottom',15);
            }
            .pholder{
                float: left;
            }
            .colsm{
                float: left;
                width:50%;
                @include px-rem('margin-left',15);
                input{
                    border:none;
                    width:100%;
                }
            }
            .warning{
                color:#d9534f;
            }
        }
    }
}
.userinfo{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    .info-box{
        background:#fff;
        width:90%;
        margin:0 auto;
        .title{
            background: #fb6000;
            line-height: 1.17333rem;
            color: #fff;
            text-align: center;
            font-size: 0.4rem;
            font-weight: 600;
            letter-spacing: 5px;
        }
    }
    table{
        @include font-rem(24);
        width:100%;
        tr{
            @include px-rem('line-height',70);
            border-top:1px solid #ccc;
            td.na{
                color:$main-color;
                width:5em;
                text-align:center;
            }
            td{
                input{
                    @include px-rem('height',70);
                    border:none;
                    width:100%;
                }
            }
            &:last-child{
                border-bottom:1px solid #ccc;
            }
        }
    }
    select{
        width:30%;
        text-indent:5px;
    }
    .title{
        @include px-rem('margin-bottom',20);
    }
    .sure{
        @include px-rem('line-height',40);
        @include px-rem('padding',30);
        @include font-rem(16);
        .tips{
            color:#e82121;
            display:none;
        }
        .btn{
            background:$main-color;
            color: #fff;
            font-weight:500;
            @include font-rem(20);
            letter-spacing: 10px;
            @include px-rem('margin-right',20);
            @include px-rem('border-radius',10);
            @include px-d-rem('padding',10,20);
        }
    }
    #city{
        
    }
    #jobclass{
        .show{
            display:block;
        }
    }
}