@import "../module/common/common";
header{
  @include px-rem('height',295);
  width:100%;
  img{
    height:100%;
    width:100%;
  }
}
section.content{
  @include px-rem('padding-bottom',100); 
  .title{
    @include px-rem('padding-top',40);
    border-bottom: 1px solid #ccc;
    p{
      @include px-rem('margin-bottom',10);
      text-indent:1em;
      @include font-rem(28);
      span{
        @include font-rem(18);
      }
    }
  }
  .flex{
    flex-direction:column;
    text-align:center;
    @include px-rem('margin-top',50);
    .item{
      @include px2rem(400,80);
      background:$main-bk-color;
      color:#666;
      @include px-rem('line-height',80);
      @include font-rem(30);
      margin:0 auto;
      @include px-rem('margin-bottom',50);
      @include px-rem('border-radius',10);
      &.active{
        background:$main-color;
        color:#fff;
      }
      &.next{
        @include px2rem(550,60);
        background:$main-color;
        color:#fff;
        @include font-rem(24);
        @include px-rem('line-height',60);
      }
    }
  }
}
footer{
  position: fixed;
  bottom:0;
  width:100%;
  .flex{
    @include px-rem('height',100);
    flex-direction:row;
    background: $main-bk-color;
    .item{
      flex:1;
      @include font-rem(20);
      a{
        display:flex;
        width:100%;
        height: 100%;
        flex-direction:column;
        text-align: center;
        color:#999;
        .iconfont{
          @include font-rem(46);
        }
        span{
          @include px-rem('margin-top',-5); 
        }
      }
      &.active{
        a{
          color:$main-color;
        }   
      }
    }
  }
}