@import "../module/common/common";
.imgnon{
    width:0;
    height:0;
    overflow:hidden;
    img{
        @include px2rem(300,300);
    }
}
body{
        font-size:0;
}
.content{
    .qrimg{
        width:100%;
    }

    .m-orderlist{
        @include px-d-rem('padding',12,10);
        &.moneyin{
            border-bottom:none;
            .flex{
                @include px-d-rem('padding',12,10);
            }
        }
        .item{
            text-align: center;
            overflow:hidden;
            flex:1;
            color:#999;
            position:relative;
            $height:88;
            @include font-rem(20);
            @include px-rem('height',$height);
            &.pic{
                //@include px-rem('width',120);
                img{
                    @include px2rem($height,$height);
                    border-radius:50%;
                }
            }
            .na{
                @include font-rem(24);
                color:#666;
                @include px-rem('margin-top',10);
            }
            .time,.meb{
                position:absolute;
                bottom:0;
                left:0;
                right:0;
                margin:auto;
            }
            .money,.member{
                @include font-rem(30);
                vertical-align: middle;
                @include px-rem('line-height',$height);
                &.add{
                    display:inline-block;
                    @include px-d-rem('padding',6,10);
                    @include px-rem('margin-top',15);
                    @include px-rem('border-radius',5);
                    background:$main-color;
                    color:#fff;
                    line-height:inherit;
                    vertical-align: middle;
                }

            }

        }
        
    }
}