@import "../module/common/common";
$color-green:#477c2b;
header{
    @include px-rem('height',292);
    overflow:hidden;
    .banner{
        width:300%;
        position:relative;
        //transition:all 0.8s;
        left:0;
        //@include px-rem('left',-750);
        img{
            @include px-rem('width',750);
            float:left;
            display:block;
        };
    }
}
.content{
    .m-newslist{
        .item{
                @include px-rem('padding',36);
                @include px-rem('padding-left',9);
                border-bottom:1px solid $border-color;
               .flex{
                    @include font-rem(30);
                    
                    .left{
                        text-align: center;
                        width:25%;
                        vertical-align: center;
                         display:flex;
                        .cen{
                           margin:auto;
                        }
                        img{
                            @include px2rem(125,125);
                            display:block;
                            margin:0 auto;
                        }
                    }
                    .right{
                        width:75%;
                        .hot{
                            width:15%;
                            
                        }
                        .intro{
                            width:85%;
                            overflow:hidden;
                            color:#000;
                            @include font-rem(20);
                            @include px-rem('max-height',108);
                        }
                        .hot,.intro{
                            float: left;
                            @include px-rem('line-height',36);
                        }
                       
                        small{
                            color:#999;
                            @include font-rem(20);
                            &.link{
                                color:#fff;
                                @include px-d-rem('padding',10,12);
                                letter-spacing: normal;
                            }
                        }
                        
                    }
                } 
            } 
    }
}
