.git
.svn
.hg
.zip
.gz
.DS_Store
.idea
.idea/
.idea/*
*.iml
*.ipr
*.iws
*.tgz
.*.swp
.vim
.tmp
.env
.sass-cache
.sass

node_modules
src/node_modules
npm-debug.log
.vscode
public/uploads/img/media/*
!public/uploads/img/media/.gitkeep
logs/*
.www
/download/
!/download/.gitkeep
t.*
config/config.*.js
  