@import "./reset";
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
em{
  font-style: normal;
}


body {
  font: 13px/1.5 "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", tahoma, SimSun, sans-serif;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  color: #333;
}

a {
  color: #333;
  //&:hover { color: #0097e0; text-decoration: none; }
}


/* common style */

:focus {
  outline: 0;
}

.f-link{ display: inline-block; text-decoration: none ;@include size(100%)}
.f-show {
  display: block;
}
.f-hide{
  display: none;
}

.f-fl {
  float: left;
}

.f-fr {
  float: right;
}

.f-pr {
  position: relative;
}

.f-pre {
  overflow: hidden;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

.f-no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.f-word-break {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}

.f-text-ellipis {
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.f-wide {
  margin: 0 auto;
  text-align: left;
}

.f-f12 {
  font-size: 12px;
}

.f-f14 {
  font-size: 14px;
}

.f-f16 {
  font-size: 16px;
}

.f-f18 {
  font-size: 18px;
}

.f-link {
  display: inline-block;
  text-decoration: none;
  @include size(100%)
}


.f-cursor-p {
  cursor: pointer;
}

.flex{
  display:flex;
}

section.content{
  @include px-rem('padding-bottom',100);
}
.m-line{
  @include px-rem('height',22); 
  background:#ededed;
}
.f-border-b{
  border-bottom:1px solid #ccc;
}
.f-border-t{
  border-top:1px solid #ccc;
}
.btn{
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  background:#fb6000;
  color: #fff;
  font-weight:500;
  @include font-rem(20);
  letter-spacing: 10px;
  @include px-rem('margin-right',20);
  @include px-rem('border-radius',10);
  @include px-d-rem('padding',10,20);
}
.f-modal-bk{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: flex;
  overflow: hidden;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.7);
  align-items: center;
  .box{
    background:#fff;
    @include px-rem('border-radius',10);
    width:80%;
    margin:0 auto;
    @include px-d-rem('padding',20,10);
  }
}
