footer{
  position: fixed;
  bottom:0;
  width:100%;
  .flex{
    @include px-rem('height',100);
    flex-direction:row;
    background: $main-bk-color;
    .item{
      flex:1;
      @include font-rem(20);
      a{
        display:flex;
        width:100%;
        height: 100%;
        flex-direction:column;
        text-align: center;
        color:#999;
        .iconfont{
          @include font-rem(46);
        }
        span{
          @include px-rem('margin-top',-5); 
        }
      }
      &.active{
        a{
          color:$main-color;
        }   
      }
    }
  }
  .m-tips{
    position: fixed;
    @include px-rem('right',-10);
    z-index: 10;
    color:#fff;
    @include px-rem('top',600);
    text-align: center;
    @include font-rem(18);
    .service,.search{
        @include px-rem('border-radius',10);
        background:rgba(81, 176, 234, 0.9);
        overflow:hidden;
        @include px-rem('width',50);
        @include px-rem('padding',10);
        @include px-rem('margin-top',20);
        a{
            color:#fff;
        }
    }
    .iconfont{
        display:block;
        @include font-rem(50);
    }
  }
  .m-message{
      display:none;
      .box{
        @include font-rem(20);
        .hd{
          @include font-rem(30);
        }
        .bd{
          p{
            @include font-rem(24);
          }
          .last{
            display:none;
          }
          .new{
            display:none;
          }
          .list-box{
            @include px-rem('padding',20);
            article{
              display:block;
            }
            span{
              display:block;
              float:right; 
            }
          }
        }
        .ft{
          @include px-rem('margin-top',40);
          text-align:center;
        }
      }
  }
}