<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <link rel="stylesheet" href="../css/config/center.css">
    <script src="../js/lib/avalon.mobile.js"></script>
    <script  src="../js/share/m-base.js"></script>
</head>
<body ms-controller = "pCenter">
    <header>
        <div class="hd">
            <ul class="box clearfix">
                <li class="left f-fl">
                    <img ms-src="imgurl" alt="头像" />
                </li>
                <li class="right f-fl">
                    <p class="name">{{name}}</p>
                    <span>会员 I D  ：119748</span>
                    <span>注册时间：{{regtime}}</span>
                    <span>会员等级：{{gradename}}</span>
                    <span>会员 I D  ：119748</span>
                    <span>我的上级 ：{{myleader}}</span>
                </li>
            </ul>
        </div>
        <div class="bd">
            <ul class="flex clearfix">
                <li><p class="f-text-ellipis">220,224,222.56</p><p>佣金余额</p></li>
                <li><p class="f-text-ellipis">220.56</p><p>佣金余额</p></li>
                <li><p class="f-text-ellipis">220.56</p><p>佣金余额</p></li>
            </ul>
        </div>
    </header>
    <section class="content">
        <ul class="flex">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </section>
    <footer ms-include-src="'./module/footer.html'"></footer>
    <script src="../js/lib/jquery-3.1.1.min.js"></script>
    <script src="../js/share/ajax.js"></script>
    <script src="../js/config/center.js"></script>
</body>
</html>