
<ul class="flex">
    <li class="item" ms-class ="{{currentPage=='index'?'active':''}}"><a href="./index.html"><i class="iconfont icon-member"></i><span>升级会员</span></a></li>
    <li class="item" ms-class ="{{currentPage=='loan'?'active':''}}"><a href="./loan.html"><i class="iconfont icon-inmoney"></i><span>贷款中心</span></a></li>
    <li class="item" ms-class ="{{currentPage=='news'?'active':''}}"><a href="./news.html"><i class="iconfont icon-news"></i><span>金融资讯</span></a></li>
    <li class="item" ms-class ="{{currentPage=='center'?'active':''}}"><a href="./center.html"><i class="iconfont icon-center"></i><span>用户中心</span></a></li>
</ul>