<section class="pipe">
    <div class="m-tec">
        <p class="title"><i class="iconfont icon-moneyout"></i>技术指导</p>
        <ul class="flex">
            <li><a href="./newsdetial.html?id=7&type=loantec"><i class="iconfont icon-loantips"></i><span>办卡技巧</span></a></li>
            <li><a href="./newsdetial.html?id=8&type=loantec"><i class="iconfont icon-sure"></i><span>办卡技术</span></a></li>
            <li><a href="./newsdetial.html?id=9&type=loantec"><i class="iconfont icon-read"></i><span>白户办卡</span></a></li>
            <li><a href="./newsdetial.html?id=10&type=loantec"><i class="iconfont icon-yunkey"></i><span>三无办卡</span></a></li>
            <li><a href="./newsdetial.html?id=11&type=loantec"><i class="iconfont icon-save"></i><span>包装技巧</span></a></li>
        </ul>
    </div>
    <div class="m-line"></div>
    <div class="m-loanlist">
        <p class="title"><span class="num">1</span>信用卡快卡办理</p>
        <ul class="flex">
            <li ms-repeat ="cardDataList.apply_card"><a ms-attr-href="{{el.url}}"><img ms-attr-src="{{'http://www.examples.xin/'+el.icon_img}}" alt="" /><span>{{el.name}}</span></a></li>
        </ul>
    </div>
    <div class="m-loanlist">
        <p class="title"><span class="num">2</span>信用卡提额</p>
        <ul class="flex">
            <li ms-repeat ="cardDataList.up_card"><a ms-attr-href="{{'./newsdetial.html?id='+el.id+'&type=loancredit'}}"><img ms-attr-src="{{'http://www.examples.xin/'+el.icon_img}}" alt="" /><span>{{el.name}}</span></a></li>
        </ul>
    </div>
</section>
