<section class="pipe">
    <div class="m-tec">
        <p class="title"><i class="iconfont icon-moneyout"></i>技术指导</p>
        <ul class="flex">
            <li><a href="./loantecdetial.html?type=2"><i class="iconfont icon-loantips"></i><span>贷款须知</span></a></li>
            <li><a href="./loantecdetial.html?type=3"><i class="iconfont icon-sure"></i><span>适合贷款</span></a></li>
            <li><a href="./loantecdetial.html?type=4"><i class="iconfont icon-read"></i><span>贷款技巧</span></a></li>
            <li><a href="./loantecdetial.html?type=5"><i class="iconfont icon-yunkey"></i><span>贷款秘诀</span></a></li>
            <li><a href="./loantecdetial.html?type=6"><i class="iconfont icon-save"></i><span>包装技巧</span></a></li>
        </ul>
    </div>
    <div class="m-line"></div>
    <div class="m-loanlist" ms-repeat = "pipeDataList">
        <p class="title"><span class="num">{{el.id}}</span>{{el.name}}</p>
        <ul class="flex">
            <li ms-repeat ="el.loan"><a ms-attr-href="{{el.url}}"><img ms-attr-src="{{'http://www.examples.xin/'+el.icon_img}}" alt="" /><span>{{el.name}}</span></a></li>  
        </ul>
    </div>
</section>
