<section class="new">
    <p class="title"><i class="iconfont icon-moneyout"></i>最新贷款通道</p>
    <div class="m-banklist" ms-repeat ='newDataList'>
        <div class="item">
            <ul class="flex">
                <li class="left"><div class="cen"><img ms-attr-src="{{'http://www.examples.xin/'+el.img}}" alt="" />{{el.title}}</div></li>
                <li class="right">
                    <p class="hot">热点:</p><p class="intro f-word-break">{{el.ads}}</p>
                    <p class="mark">更新时间：<small>{{el.update_time}}</small></p>
                    <p class="mark">会员所需等级：<small>{{el.gradename}}</small></p>
                    <p class="mark">通道详情：<a ms-attr-href="{{'./newsdetial.html?id='+ el.id+'&type=loannew'}}"><small class="link">请点击</small></a></p>
                </li>
            </ul>
        </div>  
    </div>
</section>