<section class="pipe">
    <div class="m-tec">
        <p class="title"><i class="iconfont icon-moneyout"></i>技术指导</p>
        <ul class="flex">
            <li><i class="iconfont icon-moneyout"></i><span>贷款须知</span></li>
            <li><i class="iconfont icon-moneyout"></i><span>适合贷款</span></li>
            <li><i class="iconfont icon-moneyout"></i><span>贷款技巧</span></li>
            <li><i class="iconfont icon-moneyout"></i><span>贷款秘诀</span></li>
            <li><i class="iconfont icon-moneyout"></i><span>包装技巧</span></li>
        </ul>
    </div>
    <div class="m-line"></div>
    <div class="m-loanlist">
        <p class="title"><span class="num">1</span>技术指导</p>
        <ul class="flex">
            <li><img src="../images/loanlogo.jpg" alt="" /><span>贷款须知</span></li>
            <li><img src="../images/loanlogo.jpg" alt="" /><span>适合贷款</span></li>
            <li><img src="../images/loanlogo.jpg" alt="" /><span>贷款技巧</span></li>
            <li><img src="../images/loanlogo.jpg" alt="" /><span>贷款秘诀</span></li>
            <li><img src="../images/loanlogo.jpg" alt="" /><span>贷款秘诀</span></li>
            <li><img src="../images/loanlogo.jpg" alt="" /><span>贷款须知</span></li>
            <li><img src="../images/loanlogo.jpg" alt="" /><span>适合贷款</span></li>
            <li><img src="../images/loanlogo.jpg" alt="" /><span>贷款技巧</span></li>
            <li><img src="../images/loanlogo.jpg" alt="" /><span>贷款秘诀</span></li>
            <li><img src="../images/loanlogo.jpg" alt="" /><span>贷款秘诀</span></li>
            <li><img src="../images/loanlogo.jpg" alt="" /><span>贷款须知</span></li>
            <li><img src="../images/loanlogo.jpg" alt="" /><span>适合贷款</span></li>
            <li><img src="../images/loanlogo.jpg" alt="" /><span>贷款技巧</span></li>
            <li><img src="../images/loanlogo.jpg" alt="" /><span>贷款秘诀</span></li>
            <li><img src="../images/loanlogo.jpg" alt="" /><span>贷款秘诀</span></li>
        </ul>
    </div>
    <div class="m-loanlist">
        <p class="title"><span class="num">1</span>技术指导</p>
        <ul class="flex">
            <li><img src="../images/loanlogo.jpg" alt="" /><span>贷款须知</span></li>
            <li><img src="../images/loanlogo.jpg" alt="" /><span>适合贷款</span></li>
            <li><img src="../images/loanlogo.jpg" alt="" /><span>贷款技巧</span></li>
            <li><img src="../images/loanlogo.jpg" alt="" /><span>贷款秘诀</span></li>
            <li><img src="../images/loanlogo.jpg" alt="" /><span>贷款秘诀</span></li>
            <li><img src="../images/loanlogo.jpg" alt="" /><span>贷款须知</span></li>
            <li><img src="../images/loanlogo.jpg" alt="" /><span>适合贷款</span></li>
            <li><img src="../images/loanlogo.jpg" alt="" /><span>贷款技巧</span></li>
            <li><img src="../images/loanlogo.jpg" alt="" /><span>贷款秘诀</span></li>
            <li><img src="../images/loanlogo.jpg" alt="" /><span>贷款秘诀</span></li>
            <li><img src="../images/loanlogo.jpg" alt="" /><span>贷款须知</span></li>
            <li><img src="../images/loanlogo.jpg" alt="" /><span>适合贷款</span></li>
            <li><img src="../images/loanlogo.jpg" alt="" /><span>贷款技巧</span></li>
            <li><img src="../images/loanlogo.jpg" alt="" /><span>贷款秘诀</span></li>
            <li><img src="../images/loanlogo.jpg" alt="" /><span>贷款秘诀</span></li>
        </ul>
    </div>
</section>
