<section class="new">
    <p class="title"><i class="iconfont icon-moneyout"></i>最新贷款通道</p>
    <div class="m-banklist">
        <div class="item">
            <ul class="flex">
                <li class="left"><div class="cen"><img src="../images/banklogo.jpg" alt="" />中国银行</div></li>
                <li class="right">
                    <p class="hot">热点:</p><p class="intro f-word-break">新出的中国银行快卡口子！先查额度再，可仅凭身份证
                    无征信秒批！直接秒批！新出的中国银行快卡口子！先查额度再，可仅凭身份证
                    无征信秒批！直接秒批！新出的中国银行快卡口子！先查额度再，可仅凭身份证
                    无征信秒批！直接秒批！</p>
                    <p class="mark">更新时间：<small>2017-3-26</small></p>
                    <p class="mark">会员所需等级：<small>钻石会员</small></p>
                    <p class="mark">通道详情：<a href="#"><small class="link">请点击</small></a></p>
                </li>
            </ul>
        </div> 
        <div class="item">
            <ul class="flex">
                <li class="left"><div class="cen"><img src="../images/banklogo.jpg" alt="" />中国银行</div></li>
                <li class="right">
                    <p class="hot">热点:</p><p class="intro f-word-break">新出的中国银行快卡口子！先查额度再，可仅凭身份证
                    无征信秒批！直接秒批！新出的中国银行快卡口子！先查额度再，可仅凭身份证
                    无征信秒批！直接秒批！新出的中国银行快卡口子！先查额度再，可仅凭身份证
                    无征信秒批！直接秒批！</p>
                    <p class="mark">更新时间：<small>2017-3-26</small></p>
                    <p class="mark">会员所需等级：<small>钻石会员</small></p>
                    <p class="mark">通道详情：<a href="#"><small class="link">请点击</small></a></p>
                </li>
            </ul>
        </div> 
        <div class="item">
            <ul class="flex">
                <li class="left"><div class="cen"><img src="../images/banklogo.jpg" alt="" />中国银行</div></li>
                <li class="right">
                    <p class="hot">热点:</p><p class="intro f-word-break">新出的中国银行快卡口子！先查额度再，可仅凭身份证
                    无征信秒批！直接秒批！新出的中国银行快卡口子！先查额度再，可仅凭身份证
                    无征信秒批！直接秒批！新出的中国银行快卡口子！先查额度再，可仅凭身份证
                    无征信秒批！直接秒批！</p>
                    <p class="mark">更新时间：<small>2017-3-26</small></p>
                    <p class="mark">会员所需等级：<small>钻石会员</small></p>
                    <p class="mark">通道详情：<a href="#"><small class="link">请点击</small></a></p>
                </li>
            </ul>
        </div>  
    </div>
</section>